<ion-view view-title="Casing-Tubing">
    <ion-content class="padding">




        <div class="list card">
            <div class="item item-divider-platform item-positive">
                Opciones
            </div>

            <div class="item item-input item-select">
                <span class="input-label">Tuberia</span>

                <select ng-model="tuberiaSeleccionada" ng-options="tuberia.id as tuberia.name for tuberia in opcionTuberia "  ng-change="setCombos(tuberiaSeleccionada,tipotuberia,seldexterno,selpeso,selgrado)"  ></select>
            </div>
            <div class="item item-input item-select">
                <span class="input-label">Tipo de Tuberia</span>

                <select ng-model="tipotuberia" ng-options="tipoTuberia.id as tipoTuberia.name for tipoTuberia in opcionTuberia[tuberiaSeleccionada].tipoTuberia "  ng-change="setCombos(tuberiaSeleccionada,tipotuberia,seldexterno,selpeso,selgrado)"  ></select>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider-platform item-positive">
                Caracteristicas
            </div>

            <div class="item item-input item-select">
                <span class="input-label">Nominal OD (in)</span>

                <select ng-model="seldexterno" ng-options="tuberia for tuberia in dexterno " ng-change="setCombos(tuberiaSeleccionada,tipotuberia,seldexterno,selpeso,selgrado)"  ></select>

            </div>
            <div class="item item-input item-select">
                <span class="input-label">Weight (lbs/ft)</span>
                <select ng-model="selpeso" ng-options="peso for peso in peso "  ng-change="setCombos(tuberiaSeleccionada,tipotuberia,seldexterno,selpeso,selgrado)" ></select>

            </div>
            <div class="item item-input item-select">
                <span class="input-label">Grade</span>
                <select ng-model="selgrado" ng-options="grado for grado in grado "  ng-change="setCombos(tuberiaSeleccionada,tipotuberia,seldexterno,selpeso,selgrado)" ></select>

            </div>

            <div class="item ">
                <span class="input-label" style="position: absolute">Nominal ID (in)</span>
                <input type="tel"  ng-model="nid" disabled="true" style="text-align: right; float: right ">

            </div>
            <div class="item " >
                <span class="input-label" style="position: absolute">Diameter drift</span>
                <input type="tel" ng-model="drift" disabled="true" style="text-align: right; float: right ">

            </div>
            <div class="item ">
                <span class="input-label" style="position: absolute">Collapse resist (psi)</span>
                <input type="tel" ng-model="resist" disabled="true" style="text-align: right; float: right ">
            </div>
            <div class="item ">
                <span class="input-label" style="position: absolute">Internal yield pressure (psi)</span>
                <input type="tel" ng-model="yield" disabled="true" style="text-align: right; float: right ">

            </div>
            <div class="item ">
                <span class="input-label" style="position: absolute">Volume (bl/100 ft)</span>
                <input type="tel" disabled="true" ng-model="volumen" style="text-align: right; float: right ">

            </div>


        </div>

    </ion-content>
</ion-view>
