<ion-view view-title="Tools"> 
    <ion-content>
        <a class="item item-complex item-thumbnail-left" ng-repeat="herramienta in herramientas" href="#/tab/herramientaDetail/{{herramienta.id}}">
            <div class="item-content">
                <img src={{herramienta.image}} style="background:#ffffff; width:80px; height:80px;">
                <h2>{{herramienta.name}}</h2>
                <p>{{herramienta.lastText}}</p> 
            </div>
        </a>
    </ion-content>
</ion-view>
